.profile__edit {
    display: flex;
    align-items: baseline;
    gap: 20px;
}

@media screen and (max-width: 768px) {
    .profile__edit {
      margin-bottom: 14px;
    }
}
  
  @media screen and (max-width: 426px) {
    .profile__edit {
      gap: 10px;
      margin-bottom: 6px;
    }
}