.footer {
    padding-top: 67px;
    margin: 0 auto;
    padding-bottom: 60px;
}

@media screen and (max-width: 426px) {
  .footer {
      padding-bottom: 36px;
      padding-left: 19px;
      padding-top: 0;
  }
}