.profile__info {
    margin: 0 auto;
    padding-top: 22px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 768px) {
    .profile__info {
      width: 100%;
      padding-bottom: 36px;
      align-items: center;
    }
}
  
  @media screen and (max-width: 426px) {
    .profile__info {
      padding-bottom: 36px;
    }
}