.element__list {
    display: grid;
    grid-template-columns: repeat(3, minmax(auto, 282px));
    grid-template-rows: repeat(2, auto);
    margin: 0;
    padding: 0;
    list-style-type: none;
    grid-gap: 20px 17px;
}

@media screen and (max-width: 768px) {
  .element__list {
      justify-content: center;
      grid-template-columns: repeat(2, minmax(auto, 282px));
      grid-template-rows: repeat(3, auto);
  }
}
  
  @media screen and (max-width: 426px) {
  .element__list {
      grid-template-columns: minmax(auto, 282px);
  }
}